@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(#190432, rgb(2, 3, 18), #180547);
  font-family: "Space Mono", monospace, sans-serif;
  border-radius: 50%;
  background-color: #180547;
}
.container {
  background-repeat: no-repeat;

  position: relative;
  top: 10%;
}
button {
  background-color: Transparent;
  color: rgb(12, 97, 243);
  font-size: x-large;
  position: relative;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* aligns text to center of the page!*/
}
h1:hover {
  color: #6bb1e7;
}

.stop {
  display: none;
}

.play {
  display: block;
  opacity: 0; /*Make sure you set the play button to show on click!*/
}

#rings {
  position: relative;
  top: 20px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  opacity: 0.1;
  animation: opacity 5s 3s infinite alternate;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

span {
  opacity: 0;
}

span.fade {
  opacity: 1;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

.scene1 {
  display: none;
}

.showStars {
  opacity: 1;
  z-index: 10;
}

/*animations*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0.05;
  }

  to {
    opacity: 0.3;
  }
}

@keyframes illuminate {
  from {
    background: radial-gradient(
      ellipse at center,
      #3a0c8450 5%,
      #0c144b 25%,
      #1c0e3f 50%,
      #0d021c 100%
    );
  }
  to {
    background: radial-gradient(
      ellipse at center,
      #d8e79450 5%,
      #0c144b 25%,
      #190625 50%,
      #0d021c 100%
    );
    animation-delay: 20s, 30s;
  }
}

.image {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*touch animation*/
canvas {
  display: none;
  display: grid;
  justify-content: center;
  animation: spin 100s linear infinite;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 2px double rgba(36, 4, 46, 0.242);
  background: radial-gradient(
    ellipse at center,
    #3a0c8450 5%,
    #0c144b 25%,
    #1c0e3f 50%,
    #0d021c 100%
  );
  background-repeat: no-repeat;
  animation: illuminate ease-in 20s;
  animation: spin infinite 50s;
}
canvas:hover {
  background: radial-gradient(
    ellipse at center,
    #401eff50 5%,
    #180c4b 25%,
    #190e3f 50%,
    #170109 100%
  );
}
body:hover {
  background-image: linear-gradient(#32042a, rgb(2, 3, 18), #180547);
}
